.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  
  /* выше установили ограничения для секции */

  background-color: #f2f2f2;
  border: 1px solid red;
  display: flex;
  align-items: center;
}

.logo{
  z-index: 0;
  height: 32px;
  width: 183px;
  border: 1px solid red;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/logo_place_header.svg');
}

.logo_place_header{
  position:absolute;
  top: 30px;
  left: 64px;
}

.header_title{ /*почистить*/
  position:absolute;
  line-height: 96px;  
  border: 1px solid red;
  width: 730px;
  font-size: 102px;
  font-style: bold;
  display: flex;
  justify-content: space-between;
  left: 64px;

}

.header_subtitle{
  position: absolute;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  position:absolute;
  bottom: 30px;
  left: 64px;
  border: 1px solid red;
  justify-content: space-between;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
