.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}

.logo{
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/logo_place_header.svg');
}

.logo__place_header{
  position:absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 183px;
}

.header__title{ 
  position:absolute;
  line-height: 96px;
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  left: 64px;
  z-index: 2;
}

.header__subtitle{
  position: absolute;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  bottom: 30px;
  left: 64px;
  justify-content: space-between;
  z-index: 2;
}

.header__link{
  text-decoration: none;
  color: #2f80ed;
}

.header_main-illustration{
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

.description{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.two-columns{
  width: 80%;
  height: 370px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 30px;
}

.two-columns__brief{
  width: 175px;
  height: 100%;
  left: 0px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__paragraph{
  min-width: 784px;
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  flex-direction: column;
}

.two-columns__span-accent{
  font-weight: bold;
}

.digits{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title{
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.section-subtitle{
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.table{
  width: 1100px;
  margin: 0 auto 100px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell{
  width: 250px;
  margin-top: 60px;
  display: inline-block;
  padding: 0;
}

 .table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto 0 auto;
 }

 .table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px auto 0 auto;
 }

 .feynman{
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  height: 837px;
 }

 .feynman__title{
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 70px auto;
  z-index: 1;
 }

 .feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  z-index: 1;
 }

 .feynman_illustration{
   height: 637px;
   width: 867px;
   position: absolute;
   bottom: 0px;
   left: 0px;
   z-index: 0;
 }

 .feynman__link{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
 }

 .kaufman{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
 }

 .kaufman__triangle{
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0px;
  right: -210px;
  z-index: -1;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
 }

 .section__title_theme_dark{
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 90px;
  color: white;
  z-index: 1;
 }

 .section__subtitle_theme_dark{
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  color: white;
  z-index: 1;
 }

 .table_theme_dark{
  width: 1100px;
  margin: 0 auto 90px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
 }

 .table__cell_theme_dark{
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  display: inline-block;
  padding: 0;
  z-index: 1;
 }

 .table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto 0 auto;
  color: white;
 }

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color:  #2f80ed;
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: 0;
}

.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px auto 0 auto;
  color: white;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  position: relative;
  padding: 0px;
  flex-basis: 711px;
  min-height: 350px;
}

.footer__columns{
  display: flex;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  flex-direction: row;
  justify-content: space-between;
  height: 250px;
}

.footer__column_content_copyrigh{
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer__author{
  line-height: 25px;
  font-size: 18px;
  color: white;
  font-weight: normal;
  position: relative;
  left: 0;
  margin-bottom: 18px;
  margin-top: 18px;
}

.logo_place_footer{
  position: relative;
  align-self: flex-start;
  top: 0px;
  left: 0px;
  height: 35px;
  width: 183px;
  margin: 0px;
}

.footer__column_content_info{
  display: flex;
  flex-direction: column;
}

.footer__column-heading{
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  margin: 0px;
  padding: 0px;
}

.footer__column-links{
  list-style: none;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__column-link{
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  margin: 0 auto 10px auto;
}

.footer__column_content_social{
  display: flex;
  flex-direction: column;
}

.footer__social-icon{
  height: 16px;
  width: 16px;
}